<!-- assignment2 -->
<!-- <app-content-card
  *ngFor="let bikes of Bikeslist; even as isEven"
  [BikesName]="bikes"
  [class.is-even]="isEven"
  [class.is-odd]="!isEven"
></app-content-card> -->

<!-- Assignment3 and Assignment4 -->

<div><label>
  Author name search:
  <input autofocus #authorToSearchFor>
</label>
<button (click)="checkForAuthorInList(authorToSearchFor.value)">Check for Author</button>
</div>
<div class="author-error" [style]="authorSearchMessage.found ? 'color: blue' : 'color: grey'">
{{ authorSearchMessage.message }}
<div *ngIf="(authorSearchMessage.found===true);else other_content">
<!-- For Bonus Point -->
<app-content-card
  *ngFor="let individualPlayer of (Bikeslist | FilteringBikeByAuthor:authorToSearchFor.value); even as isEven;last as isLast;"
  [BikesName]="individualPlayer" [class.is-even]="isEven" [class.is-odd]="!isEven" class="no-type" 
  [class]="individualPlayer.author.toLowerCase() === authorToSearchFor.value.toLowerCase() ? 'player-found' : ''"
  [isLast]="isLast">
</app-content-card>

</div>
<ng-template #other_content></ng-template>
<!-- no-type -->
<app-content-card
  *ngFor="let bikes of (Bikeslist|FilterdBike); even as isEven;last as isLast"
  [BikesName]="bikes"
  [class.is-even]="isEven"
  [class.is-odd]="!isEven"
  class="no-type"
  [isLast]="isLast"
></app-content-card>

<!-- HeavyModel -->
<app-content-card
  *ngFor="let bikes of Bikeslist | FilterdBike: 'Heavy model'; even as isEven;last as isLast"
  [BikesName]="bikes"
  [class.is-even]="isEven"
  [class.is-odd]="!isEven"
  class="Heavymodel"
  [isLast]="isLast"
></app-content-card>

<!-- Race Bike -->
<app-content-card
  *ngFor="let bikes of (Bikeslist|FilterdBike:'Race bike'); even as isEven;last as isLast"
  [BikesName]="bikes"
  [class.is-even]="isEven"
  [class.is-odd]="!isEven"
  class="RaceBike"
  [isLast]="isLast" 
></app-content-card>

